*.pyc
*.vim
*.swp
*.py~
*.html~
*.txt~
/settings.py
/settings_local.py
.DS_Store
pip-log.txt
media/cms_page_media/*
media/filer_private/*
media/multimedia/*
media/cms
media/admin_tools
media/debug_toolbar
media/filer
media/tinymce
media/admin