PIL
django==1.2.5
django-filer
easy-thumbnails==1.0-alpha-15
cmsplugin-filer
django-cms==2.1.3
django-reversion==1.3.2
django-debug-toolbar
django-tinymce
http://sourceforge.net/projects/mysql-python/files/mysql-python-test/1.2.3c1/MySQL-python-1.2.3c1.tar.gz/download
south
django-admin-tools
feedparser
django-appmedia
